


/*------------------------------------
------------GENERAL STYLES------------
------------------------------------*/


p
  line-height 1.5
a
  &:focus
    color main-orange
input
  display inline-block
  vertical-align top
  width 130px
  height 36px
  margin-left 7px
  padding 0
  border none
  text-indent 10px
  font-size 15px
  color #474747
  font-weight bold
  -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  &:focus
    background #979797
    color black
input[type=submit]
  display block
  margin auto
  background #a1a1a1
  cursor pointer
  &:hover
    background #979797
    color white
  &:focus
    background #333
    color main-orange
button
  cursor pointer
  text-align center
  text-indent 0
  background #a1a1a1

::-webkit-input-placeholder
    color #a1a1a1
:-moz-placeholder
    color #a1a1a1
::-moz-placeholder
    color #a1a1a1
:-ms-input-placeholder
    color #a1a1a1